ion-content {
  //   --padding-top: 5%;
  //   --padding-start: 5%;
  //   --padding-end: 5%;
  --background: #d6d2c4;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
